<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Vue App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
メモ
 -> v- からはじまる特殊な属性をディレクティブと呼ぶ
  v-on 結果を返すディレクティブ
   (v-on:submit -> @submit(@clickとかとか)で省略できる)

  v-for
  v-show
  v-bind (v-bind:class -> :で省略できる)
  v-if、v-else
   注意:v-forと一緒に使うと、v-forの方が先に動く

▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ -->


<div id="app" class="container">
  <h1>My Todos</h1>
<!-- <ul>
  <li v-for="(todo, index) in todos">
    <input type="checkbox" v-model="todo.isDone">
    <span :class="{done: todo.isDone}">{{ todo.title }}</span>
    <span class="command" @click="deleteItem(index)">[x]</span>
  </li>
  <li v-show="!todos.length">天才かっ！？</li>
</ul> -->

<!-- <ul>
  <li v-if="todos.length" v-for="(todo, index) in todos">
    <input type="checkbox" v-model="todo.isDone">
    <span :class="{done: todo.isDone}">{{ todo.title }}</span>
    <span class="command" @click="deleteItem(index)">[x]</span>
  </li>
  <li v-else>天才かっ！？</li>
</ul> -->
<ul v-if="todos.length">
  <li v-for="(todo, index) in todos">
    <input type="checkbox" v-model="todo.isDone">
    <span :class="{done: todo.isDone}">{{ todo.title }}</span>
    <span class="command" @click="deleteItem(index)">[x]</span>
  </li>
</ul>
<ul v-else>
  <li>天才かっ！？</li>
</ul>
  <form @submit.prevent="addItem">
    <input type="text" v-model="newItem">
    <input type="submit" name="" value="add">
  </form>
</div>

<div class="wrap">
  <i class="fa fa-bars" id="show"></i>
  <h1>HELLO</h1>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>
  <p>Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World. Hello World.</p>

<div id="cover"></div>

<div id="menu">
  <i class="fa fa-times" id="hide"></i>
  <ul>
    <li>MENU</li>
    <li>MENU</li>
    <li>MENU</li>
    <li>MENU</li>
    <li>MENU</li>
  </ul>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/main.js"></script>
</body>
</html>
