@charset "UTF-8";

body {
position: relative;
padding: 0;
margin: 0;
font-size: 16px;
font-family: Verdana, sans-serif;
background: #eee;
position: absolute;
color: #333;
}
body.menu-open{
overflow-y: hidden;
}
body.menu-open #cover{
display: block;
}
body.menu-open #menu{
right: 0px;
}

.container{
  width: 300px;
  margin: 0 auto;
}

#app h1{
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}
#app ul{
  padding: 0;
  list-style: none;
}
#app li{
  line-height: 1.5;
}
#app li > span.done{
  text-decoration: line-through;
  color: #bbb;

}

#app input[type="text"]{
  padding: 2px;
}
.command{
  font-size: 12px;
  cursor: pointer;
  color: #08c;
}


/* ページ構成 */
.wrap{
position: relative;
padding: 8px;
box-sizing: border-box;
width: 100%;
height: 100%;
overflow-x: hidden;
-webkit-overflow-scrolling: touch;
}
#cover{
z-index: 1;
background: #000;
opacity: 0.6;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
display: none;
}
#menu{
z-index: 2;
position: fixed;
top: 0;
right: -180px;
color: #fff;
background: #4c81e9;
padding: 8px;
box-sizing: border-box;
width: 180px;
min-height: 100%;
transition: .4s;
}
#show{
position: fixed;
top: 8px;
right: 8px;
cursor: pointer;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
overflow:hidden
}
#hide{
float: right;
cursor: pointer;
}
